.container {

  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 5%;

}

.wrapper-content {

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 4% 0 4% 0;

  .wrapper-campeonatos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

  }
}

.header-main-content{

  display: flex;
  width: 100%;
  margin-bottom: 5%;
  padding: 2%;
  border-bottom: 1px solid var(--st-color-red-dark);

  .rankings{

    background-color: var(--st-color-red-dark);
    padding: 0 2% 0 2%;
    border-radius: 8px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 8px;

    p{
      text-transform: uppercase;
    }
    img{

      width: 28px;
      height: auto;
    }
  }

  .rankings:hover{
    background-color: var(--st-color-red);
  }

}

.footer-content{

  display: flex;
  flex-direction: column;
  padding-top: 3%;
  border-top: 1px solid var(--st-color-red-dark);

  header{

    h3{
      text-transform: uppercase;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}

table, th, td {
  border: 1px solid rgb(103, 103, 103)
}
td{
 text-align: center;
}

.trash-icon{
  width: 2rem;
  height: 2rem;
}

.btn-delete{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input{
  border-radius: 0.5rem;
  border: 1px solid black;
  height: 2rem;


}
input[type="number"]{
  width: 4rem;
  height: 2rem;
  text-align: center;
}
form{
  display: flex;

  justify-content: center;
  margin: 2rem;

}

.container{

  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  min-height: 400px;
  padding: 4%;
}

.btn-solcamp{
  background-color: var(--st-color-red);
  color: white;
  border-radius: 3rem;
  font-weight: bold;
  font-size: medium;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

.btn-solcamp:disabled{

    background-color: #ac484d;
    color: white;
    border-radius: 3rem;
    font-weight: bold;
    font-size: medium;
    padding: 0.5rem;
    margin: 1rem;
    cursor: default;
}

.btn-addcarrera{
  margin-top: 2rem;
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  font-size: medium;
  color: #000000;
  cursor: pointer;
  border: 1px solid var(--st-color-red-dark);
  border-radius: 999px;
  padding:2%;
}
.btn-addcarrera:disabled
{
  color: #aeadad ;
  background-color: transparent ;
  border: none;
  font-size: medium;
  cursor: default;
}
.btn-addcarrera:enabled:hover{
  color: var(--st-color-red);
}

.label-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;


}

.label-input label{
  justify-content: left;
  align-items: left;
  align-self: start;
  margin-bottom: 0.5rem;
}
