<header-profile headerTitle={{headerTitulo}}></header-profile>
<div class="container">
  <div class="wrapper">
    <div class="left-side-wrapper">
      <img src={{imgCircuito}} alt="">
      <div class="fecha-wrapper">
        <strong>
          <p>Fecha : </p>
        </strong>
        <p>19-12-2024</p>
      </div>
      <div class="volver-campeonato">
        <a routerLinkActive="active" [routerLink]="[campeonatoPath]">⬅ Volver a campeonato</a>
      </div>
    </div>
    <div class=" right-side-wrapper">
          <h2>Tripulaciones</h2>
          <div class="tripulaciones-wrapper">
            <div class="tripulacion-wrapper">
              <h3>Tripulación Murcia</h3>
              <div class="row">
                <div class="column">
                  <strong>
                    <p>Equipo</p>
                  </strong>
                  <p>Equipo 2</p>
                </div>
                <div class="column">
                  <strong>
                    <p>Legocar</p>
                  </strong>
                  <p>Fórmula 1</p>
                </div>
                <div class="column">
                  <strong>
                    <p>Piloto Senior</p>
                  </strong>
                  <p>Rosendo Flores</p>
                </div>
              </div>
            </div>
            <div class="tripulacion-wrapper">
              <h3>Tripulación Murcia</h3>
              <div class="row">
                <div class="column">
                  <strong>
                    <p>Equipo</p>
                  </strong>
                  <p>Equipo 2</p>
                </div>
                <div class="column">
                  <strong>
                    <p>Legocar</p>
                  </strong>
                  <p>Fórmula 1</p>
                </div>
                <div class="column">
                  <strong>
                    <p>Piloto Senior</p>
                  </strong>
                  <p>Rosendo Flores</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
