.app-wrapper {
  display: grid;
  grid-template-areas:
    "navbar main-content main-content"
    "navbar main-content main-content"
    "navbar footer footer";
}

header-app {
  grid-area: head;
}

main {
  grid-area: main-content;
}

sidebar {
  grid-area: navbar;
}

footer {
  grid-area: footer;
}
