.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--st-color-yellow);
  height: 100%;
  width: 100%;
  flex-grow: 1;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid var(--st-color-black);
  width: var(--width-sidebar);
  margin: 0;
  padding: 0;


  img {
    width: 8rem;
    margin-left: 1%;
  }
  img:hover{
    transform: scale(1.04);
  }

  .navbar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;

    li {
      display: flex;
      text-transform: capitalize;
      border-radius: 8px 20px 20px 8px;
      box-shadow: 0 4px 6px -6px #000000;

      a {
        width: 100%;
        padding: 5% 0 5% 0;
        font-weight: 700;
        font-size: 1.75rem;
        background-color: transparent;
        border: transparent;
        padding-left: 2%;
      }
    }

    li:hover {
      background-color: var(--st-color-red);
    }

    li:hover a {
      color: rgb(234, 230, 230);
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: end;
    margin-bottom: 6vh;
    gap: 10px;

    a {
      background-color: transparent;
      border: transparent;
      cursor: pointer;

      img {
        width: 32px;
        height: 32px;

      }
    }
    a:hover {
      border-bottom: 1px solid var(--st-color-red);
    }
    a:hover img{
      transform: scale(1.04);
    }


  }
}
