html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Cera Pro, sans-serif
}

:root {
  --st-color-yellow-light: #ffdb4b;
  --st-color-yellow: #ffcf00;
  --st-color-yellow-dark:#d3af0b;
  --st-color-red: #e3000b;
  --st-color-red-dark:rgb(126, 19, 27);
  --st-color-black:#0f0f0f;
  --st-color-blue:rgb(32, 29, 72);
  --st-color-brown:#996515;


  --width-sidebar : 25svw;

  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* width */
 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--st-color-yellow);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--st-color-yellow);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--st-color-yellow);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--st-color-yellow);
  border-radius: 12px;
  border: 1px solid white;
}

::-webkit-scrollbar-track {
  background-color: white;
}

* {
scrollbar-color: var(--st-color-yellow) white;
}

a {


  text-decoration: none;
  color: inherit;

}

a:hover {

  color: inherit;
  cursor: pointer;
}

ul {

  list-style: none;
  margin-bottom: 0 !important;
  padding: 0%;
}

.active {
  color: var(--st-color-red);
}

main{
    background-image: url('assets/imgs/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
main:has(app-home) {
  background-image: none; /* Anular la imagen de fondo */
  background-color: var(--st-color-blue);
  padding: 0 !important;
}

.container{

  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  min-height: 400px;

}
