<div class="principal">
  <div class="left-principal">
    <h1>LegoCars</h1>
    <h2>Tu gestor de carreras favorito</h2>
    <div class="panel-btns">
      <button class="btn-iniciasesion">Inicia sesión</button>
      <button class="btn-registrate">Registrate</button>
    </div>
  </div>
  <img src="assets/imgs/coche-copa.png">
</div>
@defer(on viewport){
<div class="card-info">
  <div class="info">
    <h2>Solicita tu propio campeonato</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, architecto voluptatibus ipsa fugiat id at unde
      quis veritatis! Aspernatur recusandae amet ratione soluta illum delectus inventore ipsam eligendi cupiditate
      deserunt.</p>
  </div>
  <img src="assets/imgs/camp.png">
</div>
}@placeholder {
  <div class="placeholder-defer">
    <p>Solicita tu propio campeonato</p>
  </div>
}
@defer(on viewport){
<div class="card-info">
  <img src="assets/imgs/circuito1.png">
  <div class="info">
    <h2>Añade hasta 8 carreras diferentes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, architecto voluptatibus ipsa fugiat id at unde
      quis veritatis! Aspernatur recusandae amet ratione soluta illum delectus inventore ipsam eligendi cupiditate
      deserunt.</p>
  </div>
</div>
}@placeholder {
  <div class="placeholder-defer">
    <p>Gestiona tu equipo</p>
  </div>
}
@defer(on viewport){
<div class="card-info">
  <div class="info">
    <h2>Gestiona tu equipo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, architecto voluptatibus ipsa fugiat id at unde
      quis veritatis! Aspernatur recusandae amet ratione soluta illum delectus inventore ipsam eligendi cupiditate
      deserunt.</p>
  </div>
  <img src="assets/imgs/equipo.png">
</div>
}@placeholder {
  <div class="placeholder-defer">
    <p>Gestiona tu equipo</p>
  </div>
}
@defer(on viewport){
<div class="card-info">
  <img src="assets/imgs/tripulacion.jpg">
  <div class="info">
    <h2>Inscribete como tripulación</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, architecto voluptatibus ipsa fugiat id at unde
      quis veritatis! Aspernatur recusandae amet ratione soluta illum delectus inventore ipsam eligendi cupiditate
      deserunt.</p>
  </div>
</div>
}@placeholder {
  <div class="placeholder-defer">
    <p>Inscribete como tripulación</p>
  </div>
}

@defer(on viewport){
<app-info-panel></app-info-panel>
}@placeholder {
<div class="placeholder-defer">

  <p>Panel de información</p>
</div>
}
